.landlordHomepageContainer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin-top: 10px;

  .freeRoomsRow,
  .monthlyEarningsRow,
  .likesRow {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 80px;
    width: 100%;
    margin-bottom: 12px;
    background-color: #D9C6FC;
    border-radius: 6px;

    .roomsIcon,
    .incomeIcon,
    .likesIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      margin-right: 10px;
      background-image: url('../../../../assets/img/dark-matter.png');
      -webkit-box-shadow: inset 0px 0px 5px 0px rgba(48,48,48,1);
      -moz-box-shadow: inset 0px 0px 5px 0px rgba(48,48,48,1);
      box-shadow: inset 0px 0px 5px 0px rgba(48,48,48,1);
      border-radius: 6px;

      svg {
        font-size: 42px;
        color: white;
      }
    }

    .roomsIcon {
      background-color: #B5132A;
    }

    .incomeIcon {
      background-color: #66BB6A;
    }

    .likesIcon {
      background-color: #26E4C9;
    }

    .rowInfo {
      display: flex;
      flex-flow: column nowrap;
      padding: 10px 10px 10px 0;
      width: 80%;

      h3 {
        font-size: 20px;
        margin-bottom: 4px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}