.editEmailContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  width: 95%;
  min-height: 95vh;
  margin-top: 10px;
  overflow: hidden;
  padding: 20px;
  background-color: #fefafe;
  background-image: url('../../assets/img/inspiration-geometry.png');
  border-radius: 4px;
  z-index: 3;
  -webkit-box-shadow: inset 0 0 3px 0 rgba(48, 48, 48, 1);
  -moz-box-shadow: inset 0 0 3px 0 rgba(48, 48, 48, 1);
  box-shadow: inset 0 0 3px 0 rgba(48, 48, 48, 1);
}
