.propertyInfoContainer {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  padding: 15px 20px;
}

.propertyInfoInnerContainer {
  background-color: #c6a9fa;
  border-radius: 4px;
}

.propertyInfoPrice {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 20px 10px;
  font-size: 20px;

  span:last-child {
    position: relative;
    top: 2px;
    margin-left: 5px;

    p {
      font-size: 12px;
    }
  }
}

.propertyInfoFirstRow {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-flow: row nowrap;
  padding: 10px;

  .ages,
  .flatmateCount {
    margin-right: 10px;
  }

  .ages,
  .flatmateCount,
  .roomCount {
    font-size: 14px;
    padding: 10px 8px;
    background-color: #f4c6fc;
    border-left: 3px solid #d936f4;
    border-radius: 4px;
    margin-bottom: 10px;
  }
}

.propertyInfoOccupations {
  padding: 10px;
  background-color: #b38cf8;
  border-top: 2px solid #9f6ff7;
}

.propertyInfoGenders {
  padding: 10px 10px 20px 10px;
  background-color: #b38cf8;
  border-bottom: 6px solid #8c53f5;

  .propertyInfoGendersInnerContainer {
    display: flex;
    flex-flow: row nowrap;
  }
}
