.propertyAboutContainer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 0 20px;
}

.propertyAboutInnerContainer {
  background-color: #c6a9fa;
  border-top: 6px solid #8c53f5;

  h2 {
    font-size: 26px;
    padding: 10px 0;
    padding: 10px;
  }
}

.propertyAboutTitleBlurb {
  background-color: #b38cf8;

  h3 {
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
  }

  .propertyAboutBlurb {
    padding: 10px 10px 20px 10px;
  }
}
