.mobileNavbarLinksContainer {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  border-right: 2px solid #303030;

  a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;

    svg {
      font-size: 24px;
      margin-bottom: 4px;
    }

    p {
      margin-top: auto;
    }
  }

  a,
  p,
  svg {
    &:focus {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-tap-highlight-color: transparent;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}
