.userProfileAboutContainer {
  width: 100%;
  padding: 20px;
}

.userProfileAboutTopSection {
  background-color: #ECE2FD;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;

  h2 {
    padding-top: 10px;
  }

  .userProfileAbout {
    padding: 10px 0;
    line-height: 120%;
    border-bottom: 3px solid #D9C6FC;
  }

  .userProfileAreas {

    h2 {
      font-size: 18px;
      margin-bottom: 6px;
    }

    p {
      line-height: 120%;
    }
  }
}

.userProfileAboutBottomSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  div {
    display: flex;
    flex-flow: row nowrap;
    background-color: #FCC6CD;
    border-left: 4px solid #F43651;
    border-radius: 4px;
    padding: 12px 12px;
    font-size: 14px;
    margin: 0 10px 10px 0;

    span:first-child {
      margin-right: 6px;
    }
  }

  .userProfileGenderBox {
    display: flex;
    flex-flow: row nowrap;

    p:first-child {
      margin-right: 4px;
    }
  }
}