.userProfileImageContainer {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  border-bottom: 1px solid #F76F83;
  background-image: url('../../../../assets/img/inspiration-geometry.png');

  .userProfileSettings {
    position: absolute;
    top: 5px;
    right: 5px;
    
    button {
      border: none;
      outline: none;
      background-color: transparent;
      border-radius: 50%;
      padding: 4px;
      margin-left: 10px;

      svg {
        font-size: 22px;
      }
    }
  }

  .userProfileImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    position: relative;
    bottom: -20%;
    border-radius: 50%;
    background-color: #B38CF8;
    z-index: 3;
    border: 1px solid #9F6FF7;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(48,48,48,1);
    -moz-box-shadow: 0px 1px 3px 1px rgba(48,48,48,1);
    box-shadow: 0px 1px 3px 1px rgba(48,48,48,1);
  }
}