.editProfileFormContainer {
  width: 100%;
  padding: 20px;

  .editProfileForm {
    display: flex;
    flex-flow: column nowrap;

    div {
      margin-bottom: 20px;
    }
  
    .textInput {
      width: 100%;
      background-color: #FDECE2;
      border-radius: 4px;
      border-bottom: 6px solid #F58C53;
  
      label {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        padding: 10px;
  
        h3 {
          font-size: 20px;
          line-height: 1.2;
          margin-bottom: 10px;
        }
  
        input,
        textarea {
          height: 40px;
          border-radius: 6px;
          outline: none;
          border: 1px solid #F26619;
          padding: 10px;
        }
  
        textarea {
          height: 120px;
        }
      }
    }
  
    .radioInput {
      display: flex;
      flex-flow: column nowrap;
      padding: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      background-color: #FDECE2;
      border-radius: 4px;
      border-bottom: 6px solid #F58C53;
  
      h3 {
        font-size: 20px;
        margin-bottom: 10px;
      }
  
      span {
        display: block;
        position: relative;
        margin: 10px 0;
        background-color: #fff;
  
        input[type="radio"]:checked ~ label {
          color: #fff;
        
          &:before {
            transform: translate(-50%, -50%) scale3d(56, 56, 1);
            opacity: 1;
          }
        
          &:after {
            background-color: #54E0C7;
            border-color: #54E0C7;
          }
        }
      
        input[type="radio"] {
          width: 32px;
          height: 32px;
          order: 1;
          z-index: 2;
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          visibility: hidden;
          border-radius: 4px;
        }
  
        label {
          display: block;
          padding: 12px 30px;
          width: 100%;
          display: block;
          text-align: left;
          color: #3C454C;
          cursor: pointer;
          position: relative;
          z-index: 2;
          transition: color 200ms ease-in;
          overflow: hidden;
          border-radius: 4px;
        
          &:before {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            content: '';
            background-color: #5562eb;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale3d(1, 1, 1);
            transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
            opacity: 0;
            z-index: -1;
          }
        
          &:after {
            width: 32px;
            height: 32px;
            content: '';
            border: 2px solid #D1D7DC;
            background-color: #fff;
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
            background-repeat: no-repeat;
            background-position: 2px 3px;
            border-radius: 50%;
            z-index: 2;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            transition: all 200ms ease-in;
          }
        }
      }
    }

    .reactSelectInputContainer {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      width: 100%;
      z-index: 3;
      background-color: #FDECE2;
      border-radius: 4px;
      border-bottom: 6px solid #F58C53;
      padding: 10px;
  
      h3 {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 20px;
      }
  
      div {
        div {
          div {
            margin-bottom: 0;
          }
        }
      }
  
      .reactSelectInput {
        height: 40px;
      }
  
      &:focus {
        z-index: 3;
      }
    }
  
    .formEnd {
      width: 100%;
      color: #fefefe;
  
    }

    .editProfileSubmitButton {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 0 20px 0;
      border-bottom: 1px solid white;
  
        button {
          width: 200px;
          height: 50px;
          border: none;
          outline: none;
          border-radius: 4px;
          background-color: #43A047;
          border-bottom: 4px solid #2E7D32;
          color: white;
          font-size: 18px;
        }
    }
  }

  .editProfileDeleteAccount {
    padding: 10px 0 40px 0;

    .editProfileDeleteButton {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        width: 200px;
        height: 50px;
        background-color: #B71C1C;
        border-bottom: 4px solid #721111;
        color: white;
        font-size: 18px;
        outline: none;
        border: none;
        border-radius: 4px;
      }
    }

    .editProfileDeleteModal {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      z-index: 4;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);

      .editProfileDeleteModalContent {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        justify-content: center;
        align-items: center;
        background-color: #fefefe;
        background-image: url('../../../../assets/img/inspiration-geometry.png');
        margin: 15% auto;
        height: auto;
        padding: 40px 20px;
        width: 100%;
        border-radius: 6px;

        h2 {
          text-align: center;
          margin-bottom: 20px;
          font-size: 28px;
          text-decoration: underline;
        }

        .modalMessage {
          margin-bottom: 20px;
          padding: 10px;
          background-color: #FDECE2;
          border-radius: 4px;
          border: 1px solid #F58C53;
          p {
            font-size: 18px;
            line-height: 120%;
            text-align: center;
          }
        }

        .modalConfirm {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          width: 100%;

          label {
            width: 100%;
            margin-bottom: 20px;
            background-color: #FDECE2;
            border-radius: 4px;
            border-bottom: 6px solid #F58C53;
            padding: 20px 10px;

            h3 {
              width: 100%;
              text-align: center;
              margin-bottom: 10px;
            }

            input {
              width: 100%;
              height: 50px;
              padding: 0 10px;
              font-size: 18px;
              border: 2px solid grey;
              border-radius: 4px;
            }
          }
        }

        .modalButton {
          display: flex;
          width: 100%;
          padding: 10px 0;
          justify-content: center;

          button {
            height: 50px;
            width: 200px;
            outline: none;
            border: none;
            background-color: #B71C1C;
            border-bottom: 4px solid #891515;
            font-size: 18px;
            color: white;
            border-radius: 4px;
          }
        }
      }

      .modalClose {
        color: #aaa;
        position: absolute;
        top: 10px;
        right: 10px;

        svg {
          font-size: 28px;
        }
      }
    }
  }

  .propertyManagementWarningModal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    .propertyManagementWarningModalContent {
      display: flex;
      flex-flow: column nowrap;
      position: relative;
      justify-content: center;
      align-items: center;
      background-color: #fefefe;
      background-image: url('../../../../assets/img/inspiration-geometry.png');
      margin: 15% auto;
      height: auto;
      padding: 40px 20px;
      width: 100%;

      h2 {
        font-size: 34px;
        text-align: center;
        margin-bottom: 20px;
        text-decoration: underline;
      }

      h4 {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 20px;

        span {
          font-weight: 700;
          background-color: #B71C1C;
          padding: 4px 10px;
          border-radius: 25px;
          color: white;
        }
      }

      .propertyManagementWarningModalMessage {
        margin-bottom: 20px;
        background-color: #FCD9C6;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #F8B38C;

        p {
          font-size: 18px;
          line-height: 1.4;
          text-align: center;

          span {
            font-weight: 700;
            padding: 2px 4px;
            border-radius: 4px;
            border: 2px solid #F26619;
            background-color: #F47936;
          }
        }
      }

      .modalConfirm {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;

        label {
          width: 100%;
          margin-bottom: 20px;
          h3 {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
          }

          input {
            width: 100%;
            height: 50px;
            padding: 0 10px;
            font-size: 18px;
            border: 2px solid grey;
            border-radius: 4px;
          }
        }
      }

      .modalButton {
        display: flex;
        width: 100%;
        padding: 10px 0;
        justify-content: space-evenly;

        .confirmButton,
        .goBackButton {
          height: 50px;
          width: 45%;
          outline: none;
          border: none;
          background-color: #B71C1C;
          font-size: 16px;
          color: white;
          border-radius: 6px;
          border-bottom: 5px solid #891515;

          &:focus,
          &:active {
            background-color: #891515;
          }
        }

        .goBackButton {
          background-color: #43A047;
          border-bottom: 5px solid #2E7D32;

          &:focus,
          &:active {
            background-color: #2E7D32;
          }
        }
      }
    }
  }
}