.additionalInfoContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  
  h2 {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }

  .infoSegmentsContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    div {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      width: 100%;
      border: 1px solid blue;

      span {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100px;
        border: 1px solid red;

        svg {
          font-size: 32px;
        }

        h4 {
          margin: 10px 0 2px 0;
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }

        .greenText,
        .redText,
        .neutralText {
          padding: 2px 4px;
          border-radius: 3px;
        }

        .greenText {
          background-color: green;
        }

        .redText {
          background-color: darkred;
        }

        .neutralText {
          background-color: #707070;
        }
      }

      .disabledSpan {
        width: 100%;
      }
    }
  }
}