.propertyListItemContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #ece2fd;
  margin-bottom: 12px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom: 6px solid #efa9fa;
  transition: 0.2s;

  &:hover,
  &:focus {
    opacity: 0.7;
    transition: 0.15s;
  }

  .propertyListItemImage {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
  }

  .propertyListItemInfoContainer {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    .propertyListItemTopInfo {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      background-color: #c6a9fa;
      border-bottom: 1px solid #9f6ff7;

      span {
        display: flex;
        align-items: center;
        height: auto;
        padding: 10px;
        background-color: #c6a9fa;
        border-top: 1px solid #b38cf8;
      }

      span:first-child {
        font-size: 14px;
        width: 80%;
      }

      span:last-child {
        width: 20%;
        font-size: 16px;
        font-weight: 700;
        text-align: right;
        background-color: #b38cf8;
        border-left: 1px solid #9f6ff7;
        border-bottom-left-radius: 10px;
      }
    }

    .propertyListItemMiddleInfo {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;

      span {
        width: 50%;
        padding: 10px;
      }

      span:last-child {
        text-align: right;
      }
    }

    .propertyListItemBottomInfo {
      width: 100%;
      padding: 10px;
    }
  }
}
