.profileImageContainer {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  border-bottom: 1px solid #F76F83;
  background-image: radial-gradient( circle 805px at 53% 51.9%,  rgba(252,198,205,1) 0%, rgba(248,140,155,1) 48.5%, rgba(252,198,205,1) 100.3% );

  .profileImageContact {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(244, 54, 81, 0.8);
    border: 1px solid #F21938;
    padding: 6px 12px;
    border-radius: 25px;
    z-index: 4;
    color: white;

    svg {
      font-size: 28px;
    }

    p {
      display: none;
      margin-left: 8px;
    }

    &:focus,
    &:active {
      p {
        display: inline-block;
      }
    }
  }
  
  .profileImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    position: relative;
    bottom: -20%;
    border-radius: 50%;
    background-color: #B38CF8;
    z-index: 3;
    border: 1px solid #9F6FF7;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(48,48,48,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(48,48,48,1);
    box-shadow: 0px 0px 3px 0px rgba(48,48,48,1);
  }
}
