.newPropertyNavbarContainer {
  display: flex;
  width: 95%;
  height: 65px;
  margin-bottom: 20px;
  background-color: rgba(89, 22, 212, 1);
  background-image: url('../../../../assets/img/dark-matter.png');
  border-radius: 6px;
  padding: 0 10px 60px 10px;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(48,48,48,1);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(48,48,48,1);
  box-shadow: inset 0px 0px 5px 0px rgba(48,48,48,1);
  border: 1px solid #4D13B5;

  .titleSpan {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    color: white;

    h1 {
      font-size: 28px;
      color: white;
      margin-left: 20px;
    }

    button {
      background-color: transparent;
      outline: none;
      border: none;

      svg {
        font-size: 26px;
        color: white;
        position: relative;
      }
    }
  }

  .imageSpan {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;

    img {
      height: 80%;
      width: auto;
    }
  }
}