.managedPropertiesInfoContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  padding: 10px 20px;
  border: 1px solid yellow;

  span {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    border: 1px solid green;
    padding: 10px;
    
    h4 {
      font-size: 26px;
      padding: 10px 0;
    }

    p {
      font-size: 12px;
    }
  }

  .middleInfo {
    margin: 0 4px;
  }
}