.editEmailFormContainer {
  width: 100%;
  form {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;    
  }
}

.editEmailRow {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 10px 20px;

  label {
    h3 {
      padding: 10px 0;
    }

    input {
      width: 100%;
      height: 45px;
      padding: 0 10px;
      outline: none;
      border: 2px solid grey;
      border-radius: 6px;
    }
  }
}

.editEmailSubmitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;

  button {
    height: 40px;
    width: 150px;
    border: none;
    outline: none;
    background-color: #505050;
    border-radius: 4px;
    font-size: 18px;
  }
}