.unsignedHomepageContainer {
  display: flex;
  flex-flow: column nowrap;
  width: 95%;
  height: 98vh;
  overflow: hidden;
  padding: 20px;
  background-color: #fefafe;
  border-radius: 4px;

  .brandingLogo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h2 {
      text-align: center;
      margin-top: 10px;
      font-size: 16px;
      line-height: 20px;
    }

    img {
      width: 80%;
    }
  }

  .adSection {
    display: flex;
    justify-content: center;

    .swiperImageContainer {
      display: flex;
      justify-content: center;
      height: auto;
    }

    .swiperImage,
    .findHousesImage {
      width: 100%;
      height: auto;
    }

    .findHousesImage {
      margin-bottom: 10px;
    }

    .swiperText {
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      background-color: rgba(102, 25, 242, 0.8);
      border-radius: 6px;
      color: #fafafa;
      padding: 20px;
    }
  }
}