.unsignedHomepageContainer {
  display: flex;
  flex-flow: column nowrap;
  width: 95%;
  height: auto;
  overflow: hidden;
  padding: 20px;
  background-color: #fefafe;
  border-radius: 4px;
  z-index: 3;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(48,48,48,1);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(48,48,48,1);
  box-shadow: inset 0px 0px 3px 0px rgba(48,48,48,1);

  .brandingLogo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(89, 22, 212, 1);
    background-image: url('../../../../assets/img/dark-matter.png');
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(48,48,48,1);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(48,48,48,1);
    box-shadow: inset 0px 0px 5px 0px rgba(48,48,48,1);
    border: 1px solid #4D13B5;
    border-radius: 6px;
    padding: 10px 0;

    img {
      width: 70%;
    }
  }

  .brandingText {
    h2 {
      text-align: center;
      margin: 20px 0;
      font-size: 18px;
      line-height: 20px;
    }
  }

  .adSection {
    display: flex;
    justify-content: center;

    .swiperImageContainer {
      display: flex;
      justify-content: center;
      height: auto;
      margin-bottom: 20px;
    }

    .swiperImage,
    .findHousesImage {
      width: 100%;
      height: auto;
    }

    .swiperText {
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      background-color: rgba(102, 25, 242, 1);
      border-radius: 6px;
      color: #fafafa;
      padding: 20px;
    }
  }

  .ctoButtons {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px;
    background-color: #ECE2FD;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    button {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 70%;
      border: none;
      outline: none;
      background-color:#8C53F5;
      border-radius: 30px;
      border: 2px solid #7936F4;
      transition-duration: 0.2s;

      font-size: 16px;
      color: white;

      span:last-child {
        position: relative;
        left: 10px;
        
        svg {
          font-size: 20px;
        }
      }

      &:focus,
      &:hover {
        background-color: #7936F4;
        border: 2px solid #8C53F5;
        transition-duration: 0.15s;
      }
    }

    button:first-child {
      margin-bottom: 20px;
    }

    button:last-child {
      background-color:rgba(89, 22, 212, 0.4);
      border: none;
    }
  }
}