.flatmatesListContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 95%;
  height: auto;
  margin-top: 10px;
  overflow: hidden;
  padding: 20px 10px 80px 10px;
  background-color: #fefafe;
  border-radius: 4px;
  z-index: 3;
  -webkit-box-shadow: inset 0 0 3px 0 rgba(48, 48, 48, 1);
  -moz-box-shadow: inset 0 0 3px 0 rgba(48, 48, 48, 1);
  box-shadow: inset 0 0 3px 0 rgba(48, 48, 48, 1);

  .brandingHeader {
    display: flex;
    width: 100%;
    height: 65px;
    margin: 0 10px 20px 10px;
    background-color: rgba(89, 22, 212, 1);
    background-image: url('../../assets/img/dark-matter.png');
    border-radius: 6px;
    padding: 0 10px;
    -webkit-box-shadow: inset 0 0 5px 0 rgba(48, 48, 48, 1);
    -moz-box-shadow: inset 0 0 5px 0 rgba(48, 48, 48, 1);
    box-shadow: inset 0 0 5px 0 rgba(48, 48, 48, 1);
    border: 1px solid #4d13b5;

    .titleSpan {
      display: flex;
      align-items: center;
      height: 100%;

      h1 {
        font-size: 36px;
        color: #ece2fd;
      }
    }

    .imageSpan {
      display: flex;
      align-items: center;
      margin-left: auto;
      height: 100%;

      img {
        height: 80%;
        width: auto;
      }
    }
  }
}

.loader {
  position: relative;
  top: 10px;
}
