.editPasswordFormContainer {
  width: 100%;
  border-bottom: 4px solid #d9c6fc;

  form {
    display: flex;
    flex-flow: column nowrap;

    div {
      margin-bottom: 20px;
    }

    .textInput {
      width: 100%;
      background-color: #fdece2;
      border-radius: 4px;
      border-bottom: 6px solid #f58c53;

      label {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        padding: 10px;

        h3 {
          font-size: 20px;
          line-height: 1.2;
          margin-bottom: 10px;
        }

        input,
        textarea {
          height: 40px;
          border-radius: 6px;
          outline: none;
          border: 1px solid #f26619;
          padding: 10px;
        }

        textarea {
          height: 80px;
        }
      }
    }
  }
}

.editPasswordSubmitButton {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  button {
    height: 50px;
    width: 200px;
    font-size: 18px;
    color: white;
    border: none;
    outline: none;
    background-color: #c62828;
    border-bottom: 4px solid #891515;
    border-radius: 4px;
  }
}
