.editPasswordModal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .editPasswordModalContent {
    position: relative;
    background-color: #fefefe;
    background-image: url('../../../assets/img/inspiration-geometry.png');
    padding: 40px 20px;
    width: 100%;
    border-radius: 4px;

    .modalInnerContent {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      width: 100%;

      .modalClose {
        position: absolute;
        top: 10px;
        right: 10px;
        outline: none;
        border: none;

        svg {
          font-size: 24px;
        }
      }

      .modalMessage {
        display: flex;
        justify-content: center;
        label {

          h3 {
            padding: 20px 10px;
            font-size: 20px;
            line-height: 120%;
            text-align: center;
          }

          input {
            width: 100%;
            height: 40px;
            border: 2px solid grey;
            outline: none;
            border-radius: 4px;
            padding: 0 10px;
          }

          width: 100%;
          padding: 20px;
          background-color: #FDECE2;
          border-radius: 4px;
          border-bottom: 6px solid #F58C53;
        }
      }

      .modalConfirm {
        margin: 20px 0;
        button {
          height: 50px;
          width: 200px;
          border: none;
          outline: none;
          background-color:#B71C1C;
          border-bottom: 5px solid #891515;
          border-radius: 4px;
          font-size: 18px;
          color: white;
        }
      }
    }
  }
}