.landlordHomepageContainer {
  display: flex;
  flex-flow: column nowrap;
  width: 95%;
  height: 100vh;
  padding: 20px 20px 0 20px;
  background-color: #fefafe;
  border-radius: 4px;
  z-index: 3;
  margin-top: 10px;
  padding-bottom: 80px;
  -webkit-box-shadow: inset 0 0 3px 0 rgba(48, 48, 48, 1);
  -moz-box-shadow: inset 0 0 3px 0 rgba(48, 48, 48, 1);
  box-shadow: inset 0 0 3px 0 rgba(48, 48, 48, 1);
  overflow: hidden;

  .recentActivities {
    font-size: 24px;
    padding: 10px 0 20px 0;
  }
}

.lookingHomepageContainer {
  display: flex;
  flex-flow: column nowrap;
  width: 95%;
  height: auto;
  overflow: hidden;
  padding: 20px;
  background-color: #fefafe;
  border-radius: 4px;
  z-index: 3;
  margin-top: 10px;
  padding-bottom: 80px;
  -webkit-box-shadow: inset 0 0 3px 0 rgba(48, 48, 48, 1);
  -moz-box-shadow: inset 0 0 3px 0 rgba(48, 48, 48, 1);
  box-shadow: inset 0 0 3px 0 rgba(48, 48, 48, 1);
}
