.userProfileBasicContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  padding-top: 40px;
  background-color: #FDE2E6;
  border-bottom: 4px solid #FAA9B4;
}

.userProfileName {
  font-size: 24px;
  margin: 20px 10px 14px 10px;
}

.userProfileOccupationType {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;

  .userProfileBasicMidSpan {
    margin: 0 5px;
  }
}